@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:300,400,500,600,700&display=swap");
body {
  font-family: "Arimo", sans-serif;
  overflow-x: hidden;
  color: #706464;
  font-size: 18px;
  line-height: 140%;
}
:root {
  --text-color: #706464;
  --dark-text: #4d4848;
  --green: #0b8d75;
  --grey: #ececec;
  --grey-text: #8e8787;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button[type="submit"] {
  border: none;
}
input,
button :focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}

.container-fluid {
  padding: 0 60px;
}
/* green_btn start */
.green_btn {
  display: inline-flex;
  justify-content: center;
  background: var(--green);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 100%;
  height: 55px;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #fff;
  max-width: 272px;
}

/*   green_btn end  */
/* header */
header {
  padding: 25px 0;
  background-color: var(--grey);
}
header .row > div {
  align-items: center;
  display: flex;
}
header .col-lg-8 {
  padding-left: 3.5%;
}
.home_header {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: transparent;
}
/* menu */
.menu {
  align-items: center;
  width: 100%;
}
.social_icons a:first-child {
  margin-right: 24px;
}
.title {
  font-family: "Cormorant Infant";
}
/* menu end  */

/* first view start  */
.first_view {
  height: 100vh;
  width: 100%;
  background-image: url("../img/front_picture.png");
  background-size: cover;
  padding-top: 19vh;
  font-family: "Cormorant Infant";
  background-position: right;
}
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.05em;
  color: var(--green);
}
.white_btn {
  background-color: #fff;
  color: var(--green);
  max-width: 272px;
  display: inline-flex;
}
.first_name_col {
  text-align: right;
}
.first_view .white_btn {
  margin-top: 6vh;
}
.white_btn,
.first_view_text p:last-child {
  font-family: "Arimo", sans-serif;
}
.first_view_text p:first-child {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
}
.first_view_text {
  color: var(--dark-text);
  width: 100%;
  padding-left: 10%;
  border-left: 1px solid var(--dark-text);
}

.first_view_text p:last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  margin-top: 35px;
}
.wrap_first_content {
  display: flex;
  margin-left: 8.333333%;
}
/* first view end  */

/* about home page  start*/
.about_links {
  position: relative;
  display: block;
  overflow: hidden;
}
.about_links img {
  width: 100%;
  transition: all 0.5s;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about_links p {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 32px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.05em;
  color: #fff;
  transition: all 0.5s;
  z-index: 11;
}
.about_links p::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--green);
  bottom: -8px;
  left: 0;
}
.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s;
}
.about_links:hover .shade,
.about_links:hover p {
  opacity: 0;
}
.about_links:hover img {
  transform: scale(1.1);
}
.about_home {
  padding-top: 55px;
  position: relative;
}
.about_home::after,
.about_home::before {
  content: "";
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-image: url("../img/bg.png");
  z-index: -1;
  background-size: cover;
}
.about_home::after {
  top: -32%;
  left: 30%;
}
.about_home::before {
  bottom: -15vw;
  left: -9vw;
}
.about_home > img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26vw;
  z-index: -1;
  bottom: -9vw;
}
.short_about {
  background-image: url("../img/pink.png");
  background-size: cover;
  padding: 150px 0;
  margin-top: 88px;
}
.short_about_content {
  text-align: center;
}
.short_about_content p {
  max-width: 576px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: left;
}

h4 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--green);
}
.short_about_content h4 {
  margin: 25px 0 48px 0;
}
/* about home page  end*/

/* footer */

h3 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: var(--green);
}
.footer_col_1 p {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: var(--green);
  margin-top: 8px;
  margin-bottom: 40px;
}
.footer_contact_col {
  padding: 0 5.8%;
  border-left: 1px solid #d1d0d0;
  border-right: 1px solid #d1d0d0;
}
.footer_contact_col p:first-child {
  color: var(--dark-text);
}

.footer_contact_col a {
  font-size: 22px;
  line-height: 25px;
  margin: 12px 0;
  display: block;
}
.time_for_call {
  color: var(--grey-text);
}
.menu_footer_col a {
  color: var(--green);
  margin-bottom: 16px;
  display: block;
}
.menu_footer .social_icons {
  display: flex;
  margin-top: 40px;
}
footer {
  padding: 60px 0;
  border-top: 20px solid var(--green);
}
.close_btn,
.menu_btn {
  display: none !important;
}
.first_view .white_btn {
  margin-left: 8.333333%;
}

/*



-----------ABOUT




*/
.about {
  padding-top: 50px;
}
.abou_title {
  font-family: "Cormorant Infant";
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #0b8d75;
  margin-bottom: 15px;
  margin-top: 60px;
}
.abou_title + p {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #4d4848;
}
.about_text p {
  margin-top: 24px;
}
.about_text p:first-child {
  font-size: 20px;
  line-height: 140%;
  margin-top: 48px;
  max-width: 670px;
}
.top_section {
  background-image: url("../img/about_top.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.trees {
  position: absolute;
  bottom: -262px;
  right: 50px;
  width: 140%;
  height: auto;
}
.img_side {
  position: relative;
}
.img_side > img {
  position: relative;
  z-index: 2;
}
.about_text {
  margin-bottom: 130px;
}
.work_with li {
  background-image: url("../img/check-mark-button1.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 57px;
  min-height: 34px;
}
.work_with > div {
  background: #0b8d75;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.work_with {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.work_with li p:first-child {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #0b8d75;
}
.work_with li:not(:first-child) {
  margin-top: 24px;
}
.work_with ul {
  padding: 50px 80px;
}
.donot_work > div {
  background-color: #f83d5f;
}
.donot_work li {
  background-image: url("../img/not-allowed-symbol6.svg");
}
.work_with {
  height: 100%;
}
.donot_work li p:first-child {
  color: #f83d5f;
}
.about_contacts {
  margin-top: 80px;
}
.about_contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 60px;
  margin-bottom: 40px;
}
.about_contacts::after {
  content: "";
  position: absolute;
  width: 83.333333%;
  height: 1px;
  background-color: #e4b2ba;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.about_contacts p {
  margin-bottom: 16px;
}
.about_contacts > div {
  max-width: 600px;
}
.about_contacts p:first-child,
.form_title {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #4d4848;
  margin-bottom: 45px;
}
.about_contacts a {
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 16px;
  text-align: center;
  color: #706464;
}
.bottom_section {
  background-size: cover;
  background-image: url("../img/pink.png");
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 150px;
}
.about_form > div {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 60px);
}
.about_form {
  width: 60%;
}
.about_form > div:last-child {
  margin-left: 100px;
}
.about_form input,
textarea {
  display: block;
  background: #f0e9ea;
  border: 1px solid #e4b2ba;
  box-sizing: border-box;
  padding: 10px;
}
.about_form input {
  height: 55px;
  width: 100%;
  margin-bottom: 20px;
}
.about_form .green_btn {
  margin-top: 40px;
}
textarea {
  width: 100%;
  height: 160px;
}

@media (max-width: 1600px) {
  .trees {
    bottom: -180px;
  }
  .work_with_row .col-lg-5 {
    margin-left: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about_contacts::after {
    width: 100%;
  }
  .about_form {
    width: 70%;
  }
}
@media (max-width: 1450px) {
  body {
    font-size: 15px;
  }
  header .green_btn {
    font-size: 15px;
    height: 40px;
  }
}
@media (max-width: 1300px) {
  header .green_btn {
    font-size: 13px;
    height: 40px;
  }
  .footer_contact_col a {
    font-size: 20px;
  }
  .about_links p {
    font-size: 25px;
  }
  .work_with > div {
    font-size: 25px;
    height: 100px;
  }
  .work_with li {
    padding-left: 37px;
    background-size: 25px;
  }
  .work_with li p:first-child {
    font-size: 19px;
  }
  .trees {
    bottom: -130px;
  }
}
@media (max-width: 1199.9px) {
  .mobile__menu {
    flex-direction: column;
    width: 290px;
    position: absolute;
    left: 60px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    top: 25px;
    z-index: 100;
  }
  .mobile__menu > div:first-child {
    order: 3;
  }
  .mobile__menu > div:last-child {
    order: 2;
  }
  .menu {
    align-items: center;
    flex-direction: column;
  }
  .menu li {
    margin-bottom: 15px;
  }
  .close_btn {
    width: 18px;
    height: 18px;
    order: 1;
  }
  .menu_btn {
    width: 25px;
    height: 25px;
  }
  .close_btn,
  .menu_btn {
    display: block !important;
    cursor: pointer;
  }
  .wrap_first_content,
  .first_view .white_btn {
    margin-left: 0;
  }
  .first_view {
    height: auto;
    padding: 200px 0;
  }
  .about_links p {
    font-size: 22px;
  }
  body,
  .footer_contact_col a {
    font-size: 14px;
  }
  .bottom_section {
    padding: 100px 60px 70px 60px;
  }
  .about_form {
    width: 100%;
  }
  textarea {
    height: 150px;
  }
  .work_with ul {
    padding: 30px 20px;
  }
  .work_with li {
    padding-left: 30px;
    background-size: 20px;
  }
  .work_with > div {
    font-size: 22px;
    height: 80px;
  }
}
@media (max-width: 991.9px) {
  .about_links p {
    font-size: 18px;
  }
  .about_links p::after {
    width: 25px;
  }
  .wrap_first_content {
    flex-wrap: wrap;
  }
  h1 {
    text-align: left;
  }
  .first_name_col {
    width: 100%;
  }
  .first_view_text {
    padding-left: 0;
    border: none;
    margin-top: 15px;
  }
  .first_view_text p:first-child {
    font-size: 25px;
  }
  .first_view_text p:last-child {
    margin-top: 10px;
    font-size: 15px;
  }
  .first_view {
    padding: 100px 0;
    height: 650px;
  }
  .menu_footer_col {
    margin-top: 40px;
    justify-content: space-around;
  }
  .footer_contact_col {
    border-right: 0;
  }
  .menu_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .menu_footer_col {
    flex-wrap: wrap;
  }
  .menu_footer > li {
    width: 25%;
  }
  .menu_footer .social_icons {
    margin-top: 0;
  }
  .menu_footer:last-child {
    margin-top: 20px;
  }
  .about_name {
    max-width: 49%;
    position: absolute;
    top: -300px;
    right: 0;
  }
  .about_text {
    margin-top: 75px;
  }
  .work_with_row .col-lg-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .work_with_row .col-lg-5:first-child {
    margin-bottom: 40px;
  }
  .work_with ul {
    padding: 50px 80px;
  }
  .about_form input {
    height: 40px;
    margin-bottom: 10px;
  }
  .about_form > div:last-child {
    margin-left: 40px;
  }
  .about_form > div {
    width: calc(50% - 30px);
  }
  textarea {
    height: 110px;
  }
  .about_form .green_btn {
    margin-top: 20px;
  }
}
@media (max-width: 767.9px) {
  .about_links p {
    text-align: left;
  }
  .green_btn {
    font-size: 16px;
  }
  footer h3 {
    font-size: 32px;
  }
  footer .footer_col_1 p {
    font-size: 20px;
  }
  .about_text p:first-child {
    font-size: 18px;
  }
  .about_contacts p:first-child,
  .form_title {
    font-size: 23px;
    margin-bottom: 25px;
  }
  .about_contacts a {
    font-size: 18px;
  }
  .about_form > div {
    width: 100%;
  }
  .about_form > div:last-child {
    margin-left: 0;
  }
}
@media (max-width: 575.9px) {
  .first_view_text p:first-child {
    font-size: 22px;
  }
  .first_view_text p:last-child {
    font-size: 14px;
  }
  .first_view {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .about_links {
    margin-top: 20px;
  }
  h1 {
    font-size: 34px;
    text-align: center;
  }
  .first_view {
    background-position: 84% 0%;
    background-size: auto 63%;
    padding-top: 63vh;
    background-repeat: no-repeat;
    text-align: center;
  }
  .container-fluid {
    padding: 0 15px;
  }
  .wrap_first_content {
    justify-content: center;
  }
  .first_view_text p:last-child {
    font-size: 12px;
    line-height: 12px;
  }
  .first_view_text {
    margin-top: 10px;
  }
  .first_view .white_btn {
    margin-top: 4vh;
    color: #fff;
    background-color: #0b8d75;
  }
  .footer_col_1 {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer_col_1 p {
    margin-bottom: 20px;
  }
  .menu_footer {
    display: none;
  }
  .mobile__menu {
    left: 30px;
  }
  footer {
    padding-bottom: 0px;
  }
  .img_side {
    max-width: 70%;
    margin: 0 auto;
  }
  .about_name {
    position: static;
    max-width: 100%;
    text-align: center;
  }
  .abou_title {
    font-size: 36px;
  }
  .abou_title + p {
    font-size: 22px;
  }
  .trees {
    right: 59px;
    width: 110%;
    bottom: -94px;
  }
  .about {
    padding-top: 30px;
  }
  .about_text p:first-child {
    margin-top: 30px;
  }
  .about_text {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .work_with ul {
    padding: 20px 10px;
  }
  .work_with li p:first-child {
    font-size: 16px;
  }
  .work_with li {
    font-size: 12px;
    padding-left: 23px;
    background-size: 16px;
    background-position: top 5px left;
  }
  .work_with > div {
    height: 50px;
    font-size: 17px;
  }
  .bottom_section {
    padding: 40px 15px;
  }
  .about_contacts {
    padding-top: 30px;
    margin-top: 30px;
  }
  .about_contacts p:first-child,
  .form_title {
    font-size: 20px;
  }
}
